
.submit-button {
    margin-top: 3rem;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.input-form {
    background-color: #EEE;
}

.please_login {
    text-align: center;
    font-style: bold;
    color: black;
}

.profile-list {
    box-sizing: border-box;
}
